html{
  min-height: 100%;
}

body{
  background-image: url("https://1.bp.blogspot.com/-GyQP5cJq6r4/T9P2qu-jmzI/AAAAAAAABjg/j2Zrc6oQmoY/s1600/129073_o.gif");

  min-height: 100%;
  background-position: center;
  background-size: 100% 120%;

}
